# ignore notebook checkpoints
*.ipynb_checkpoints

# ignore pycache stuff
*/__pycache__/*

# ignore data
*/MNIST_data/*
*/shakespeare/*

# ignore log files and checkpoints from training
*/log/*
*/checkpoints/*

# ignore model files from cifar10 resnet
*/cifar10_model/*
